.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: rgb(240, 240,240);
  border: 2px solid;
  padding: 0 30px;
  letter-spacing: .5px;
  max-width: 40%;
}

.header {
  margin-bottom: 50px;
}

.item {
  border-bottom: 2px solid;
}
